
 body{
    background-color:coral;
 }   
header {
    background-color:blue;
    color: white;
    text-align: center;
    padding: 20px;
    font-size:large;
    margin-top: 10px;
    
}
ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(247, 7, 7);
  color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

section{
    float: left;
    width: 33.3%;
    
    border: 5px solid red;
    background-color: lawngreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 20px;

}
aside{
    float: left;
    width: 33.3%;
    border: blue;
    background-color: aqua;
    color:#0a0a09;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

article{
    float: left;
    width: 33.3%;
    background-color: rgb(242, 247, 247);
    color: rgb(245, 14, 91);
    text-align: center;
}


footer{
    margin-top: 500px;
    background-color: #03010c;
    color: white;
}
.contact{
    text-align:right;
}
#Alumni{
    background-color: cornsilk;

}

#facilities{
    float: left;
    margin: 10px;
    border: 10px padding solid red;
    padding: 10px;

}